HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

## Smate Application
# 로컬 PC 환경 및 운영 환경시 사용될 환경 설정 파일 제외
**/.env
.env

# 로컬 PC 및 운영 환경 관련 프로파일 설정 제외
src/main/resources/application-local.yml
src/main/resources/application-prod.yml

# 로그 파일 제외
/logs
/logs/**
!**/src/main/**/logs
!**/src/main/**/logs/**

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
